<div class="container">
  <div class="top">
    <div id="1" class="one" (click)="clickListener(1)">
      <button>1</button>
    </div>
    <div id="2" class="two" (click)="clickListener(2)">
      <button>2</button>
    </div>
  </div>
  <div id="5" class="main">
    <button>5</button>
  </div>
  <div class="bottom">
    <div id="3" class="three" (click)="clickListener(3)">
      <button>3</button>
    </div>
    <div id="4" class="four" (click)="clickListener(4)">
      <button>4</button>
    </div>
  </div>
</div>
